@model MusicLibraryTest2.Models.UserModels

@foreach (var user in Model.UserList)
 {
<div class="songBox" id="userBox-@user.Id">

    <span class="report-head">Title: </span>
    <span class="report-body">@user.Username</span>
    <br />
    <br />
    @if (user.isArtist)
    {
        <span class="report-head">Role: </span>
        <span class="report-body"> Artist</span>
    }
    else
    {
        <span class="report-head">Add Artist Role </span>
        <button class="add-artist-button" data-archive-user-id="@user.Id">
            <i class="fa-regular fa-square-plus"></i>
        </button>
    }
    <br />
    <br />

    @if (user.isAdmin)
    {
        <span class="report-head">Role: </span>
        <span class="report-body"> Admin</span>
    }
    else
    {
        <span class="report-head">Add Admin Role </span>
        <button class="add-admin-button" data-archive-user-id="@user.Id">
            <i class="fa-regular fa-square-plus"></i>
        </button>
    }
    <br />
    <br />

    <button class="archive-button" data-archive-user-id="@user.Id">
        <i class="fa-solid fa-square-xmark unclicked-icon"></i>
    </button>
</div>
 }

@if (Model.UserList.Count == 0)
 {
    <div class="has-error">No User to Display</div>
 }

<script src="https://kit.fontawesome.com/0baa800b55.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        $('.add-admin-button').click(function () {
            var button = $(this);
            var userArchiveId = $(this).data('archive-user-id');

                $.ajax({
                    url: '/AdminPages/MakeUserAdmin',
                    type: 'POST',
                    data: { userId: userArchiveId },
                    success: function (data) {
                        button.addClass('add-button-glow');

                        setTimeout(function () {
                            button.addClass('add-button-glow');
                        }, 500);

                        button.addClass('add-button-fade');

                        setTimeout(function () {
                            button.addClass('add-button-fade');
                        }, 500);

                        button.toggle();
                    }
                });
        });

        $('.add-artist-button').click(function () {
            var button = $(this);
            var userArchiveId = $(this).data('archive-user-id');

                $.ajax({
                    url: '/AdminPages/MakeUserArtist',
                    type: 'POST',
                    data: { userId: userArchiveId },
                    success: function (data) {
                        button.addClass('add-button-glow');

                        setTimeout(function () {
                            button.addClass('add-button-glow');
                        }, 500);

                        button.addClass('add-button-fade');

                        setTimeout(function () {
                            button.addClass('add-button-fade');
                        }, 500);

                        button.toggle();
                    }
                });
        });

        $('.archive-button').click(function () {

            var button = $(this);
            var userArchiveId = $(this).data('archive-user-id');
            var $userBox = $('#userBox-' + userArchiveId);
                 $.ajax({
                     url: '/AdminPages/ArchiveUser',
                     type: 'GET',
                     data: { userId: userArchiveId },
                     success: function (data) {

                         button.find('.unclicked-icon').removeClass('unclicked-icon');
                         setTimeout(function () {
                             button.find('.unclicked-icon').removeClass('unclicked-icon');
                         }, 1000);
                         $userBox.toggle();
                     }
                 });
        });

    });
</script>