@model MusicLibraryTest2.Models.PlaylistModels

@Html.Action("CreatePlaylistForm", "Home")

@foreach (var playlist in Model.Playlists)
{
    <dl>
        <dt>Playlist:</dt>
        <dd>@playlist.Name</dd>
    </dl>

    <span class="load-playlist-songs toggle-button sub-toggle" data-playlist-id="@playlist.Id">
        <span class="triangle"></span>
        Load Songs
    </span>

    <div class="playlist-songs toggle-container sub-container" id="playlist-@playlist.Id"></div>
}

<script>
    $(document).ready(function () {

        $('.load-playlist-songs').click(function () {
            var playlistId = $(this).data('playlist-id');
            console.log(playlistId);
            var $songsContainer = $('#playlist-' + playlistId);

                $.ajax({
                    url: '/Home/GetPlaylistSongs',
                    type: 'GET',
                    data: { playlistId: playlistId },
                    success: function (result) {
                        $songsContainer.html(result);
          
                    }
                });
    
            $(this).find('.triangle').toggleClass('rotate');
            $songsContainer.toggle();
        });
    });
</script>
