@model MusicLibraryTest2.Models.UserReportModels

<h2>Most Popular Artist of the Month</h2>
@foreach (var report in Model.UserReports)
{
    <div class="user-report">
        <span class="report-head">Artist: </span><span class="report-body"> @report.ArtistName</span>
        <br>
        <br>
        <span class="report-head">Views: </span><span class="report-body"> @report.Views</span>
        <br>
        <br>
        <span class="report-head">Likes: </span><span class="report-body"> @report.Likes</span>
        <br>
        <br>
    </div>
}

