@model MusicLibraryTest2.Models.ProfileModel
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

@Html.Action("ShowNavbar", "Home")

<body>
    <div class="mainBox">

        <span class="get-all-songs toggle-button">
            <span class="triangle"></span>
            Browse All Songs
        </span>

        <div class="browse toggle-container" id="get-all-songs-container"></div>

        <span class="get-playlists toggle-button">
            <span class="triangle"></span>
            My Playlists
        </span>

        <div class="playlist toggle-container" id="get-playlists-container"></div>

        <span class="get-liked-songs toggle-button">
            <span class="triangle"></span>
            Liked Songs
        </span>

        <div class="browseLiked toggle-container" id="get-liked-songs-container"></div>

        <span class="get-notifications toggle-button">
            <span class="triangle"></span>
            Notifications
        </span>

        <div class="notifications toggle-container" id="get-notifications-container"></div>

        @if (!Model.Roles.Contains("artist"))
        {
            <button class="become-artist">Become Artist</button>
        }

    </div>
</body>

<script>
    $(document).ready(function () {

        $('.get-all-songs').click(function () {
            var getAllSongsContainerLoaded = false;
            
            var $getAllSongsContainer = $('#get-all-songs-container')

            if (!getAllSongsContainerLoaded) {
                $.ajax({
                data: null,
                url: '/Home/BrowseAllSongs',
                    success: function(data) {
                        $getAllSongsContainer.html(data);
                        getAllSongsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getAllSongsContainer.toggle();
        });

        $('.get-playlists').click(function () {
            var getPlaylistsContainerLoaded = false;
            
            var $getPlaylistsContainer = $('#get-playlists-container')

            if (!getPlaylistsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/GetPlaylists',
                    success: function (data) {
                        $getPlaylistsContainer.html(data);
                        getPlaylistsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getPlaylistsContainer.toggle();
        });

        $('.get-liked-songs').click(function () {

            var getLikedSongsContainerLoaded = false;

            var $getLikedSongsContainer = $('#get-liked-songs-container')

            if (!getLikedSongsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/BrowseLikedSongs',
                    success: function (data) {
                        $getLikedSongsContainer.html(data);
                        getLikedSongsContainer = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getLikedSongsContainer.toggle();
        });

        $('.get-notifications').click(function () {
            var getNotificationsContainerLoaded = false;

            var $getNotificationsContainer = $('#get-notifications-container')

            if (!getNotificationsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/GetNotifications',
                    success: function (data) {
                        $getNotificationsContainer.html(data);
                        getNotificationsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getNotificationsContainer.toggle();
        });

        $('.become-artist').click(function () {
                $.ajax({
                    data: null,
                    url: '/Home/BecomeArtist?_=' + new Date().getTime(),
                });
        });
    });
</script>

