@model MusicLibraryTest2.Models.ProfileModel
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

@Html.Action("ShowNavbar", "Home")

<body>
    <div class="mainBox">

        <span class="get-all-songs toggle-button">
            <span class="triangle"></span>
            Browse All Songs
        </span>

        <div class="browse toggle-container" id="get-all-songs-container"></div>

        <span class="toggle-button">
            <span class="triangle"></span>
            My Playlists
        </span>

        <div class=" toggle-container" id=""></div>

        <span class=" toggle-button">
            <span class="triangle"></span>
            Liked Songs
        </span>

        <div class=" toggle-container" id=""></div>
    </div>
</body>

<script>
    $(document).ready(function () {

        $('.get-all-songs').click(function () {

            var getAllSongsContainerLoaded = false;
            var $getAllSongsContainer = $('#get-all-songs-container')

            if (!getAllSongsContainerLoaded) {
                $.ajax({
                data: null,
                url: '/Home/BrowseAllSongs',
                    success: function(data) {
                        $getAllSongsContainer.html(data);
                        getAllSongsContainer = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getAllSongsContainer.toggle();
        });
       
    });
</script>

