@model MusicLibraryTest2.Models.ProfileModel


    <div>
        Home Page
    </div>
    <li>@Html.ActionLink("Create Song", "CreateSongForm", "Home")</li>
    <li>@Html.ActionLink("Get Song", "GetSong", "Home")</li>

