@model MusicLibraryTest2.Models.ProfileModel
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

@Html.Action("ShowNavbar", "Home")

<body>
    <div class="mainBox">

        <form class="search-form">
            <input type="text" name="searchTerm" placeholder="Search for">
            <div>
                <input type="radio" id="search-by-title" name="searchBy" value="title" checked>
                <label for="search-by-title">Title</label>
                <input type="radio" id="search-by-genre" name="searchBy" value="genre">
                <label for="search-by-genre">Genre</label>
                <input type="radio" id="search-by-artist" name="searchBy" value="artist">
                <label for="search-by-artist">Artist</label>
            </div>
            <button type="submit">Search</button>
        </form>

        <span class="search-result toggle-button">
            <span class="triangle"></span>
            Search Result
        </span>

        <span class="get-all-songs toggle-button">
            <span class="triangle"></span>
            Browse All Songs
        </span>

        <span class="get-playlists toggle-button">
            <span class="triangle"></span>
            My Playlists
        </span>

        <span class="get-liked-songs toggle-button">
            <span class="triangle"></span>
            Liked Songs
        </span>

        <span class="get-notifications toggle-button">
            <span class="triangle"></span>
            Notifications
        </span>

        <span class="get-user-report toggle-button">
            <span class="triangle"></span>
            Most Popular Artists
        </span>

        <div class="result toggle-container" id="result-container"></div>
        <div class="browse toggle-container" id="get-all-songs-container"></div>
        <div class="playlist toggle-container" id="get-playlists-container"></div>
        <div class="browseLiked toggle-container" id="get-liked-songs-container"></div>
        <div class="notifications toggle-container" id="get-notifications-container"></div>
        <div class="popular-artists toggle-container" id="get-user-report-container"></div>

        <img style="width: 100%; height: 100%;" src="~/Content/erik-mclean-QzpgqElvSiA-unsplash.jpg" />

    </div>
</body>

<script>
    $(document).ready(function () {
        $('.search-result').click(function () {
            var $getResultContainer = $('#result-container')
            $(this).find('.triangle').toggleClass('rotate');
            $getResultContainer.toggle();
        });

        $('.search-form').submit(function (event) {
            event.preventDefault();
            var getResultContainerLoaded = false;
            var $getResultContainer = $('#result-container')
            var searchTerm = $(this).find('input[name="searchTerm"]').val();
            var searchBy = $(this).find('input[name="searchBy"]:checked').val();
            if (!getResultContainerLoaded) {
                $.ajax({
                    url: '/Home/SearchSongs',
                    data: { searchTerm: searchTerm, searchBy: searchBy },
                    success: function (data) {
                        $getResultContainer.html(data);
                        getResultContainerLoaded = true;
                        if (!$('.search-result .triangle').hasClass('rotate')) {
                            $('.search-result').trigger('click');
                        }
                    }
                });
            }
        });

        $('.get-all-songs').click(function () {
            var getAllSongsContainerLoaded = false;
            
            var $getAllSongsContainer = $('#get-all-songs-container')

            if (!getAllSongsContainerLoaded) {
                $.ajax({
                data: null,
                url: '/Home/BrowseAllSongs',
                    success: function(data) {
                        $getAllSongsContainer.html(data);
                        getAllSongsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getAllSongsContainer.toggle();
        });

        $('.get-playlists').click(function () {
            var getPlaylistsContainerLoaded = false;
            
            var $getPlaylistsContainer = $('#get-playlists-container')

            if (!getPlaylistsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/GetPlaylists',
                    success: function (data) {
                        $getPlaylistsContainer.html(data);
                        getPlaylistsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getPlaylistsContainer.toggle();
        });

        $('.get-liked-songs').click(function () {

            var getLikedSongsContainerLoaded = false;

            var $getLikedSongsContainer = $('#get-liked-songs-container')

            if (!getLikedSongsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/BrowseLikedSongs',
                    success: function (data) {
                        $getLikedSongsContainer.html(data);
                        getLikedSongsContainer = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getLikedSongsContainer.toggle();
        });

        $('.get-notifications').click(function () {
            var getNotificationsContainerLoaded = false;

            var $getNotificationsContainer = $('#get-notifications-container')

            if (!getNotificationsContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/GetNotifications',
                    success: function (data) {
                        $getNotificationsContainer.html(data);
                        getNotificationsContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getNotificationsContainer.toggle();
        });

        $('.get-user-report').click(function () {
            var getUserReportContainerLoaded = false;

            var $getUserReportContainer = $('#get-user-report-container')

            if (!getUserReportContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/Home/GetMostPopularArtistReport',
                    success: function (data) {
                        $getUserReportContainer.html(data);
                        getUserReportContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getUserReportContainer.toggle();
        });
    });
</script>

