@model MusicLibraryTest2.Models.ProfileModel

@if (Model != null && Model.LogedIn == true)
{
    <div>
        Home Page
    </div>
}
else
{
    <p>DANGER DANGER YOU ARE NOT AUTHORIZED, I REPEAT NOT AUTHORIZED</p>
}
