<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
@model MusicLibraryTest2.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}

@Html.Action("ShowNavbar", "Home")
<div class="box">
    <div class="login-box">
        @using (Html.BeginForm("SubmitCredentials", "Home", FormMethod.Post))
        {
            <div>User Name</div>
            <br>
            @Html.TextBoxFor(model => model.UserName)
            <br>
            <br>
            @Html.LabelFor(m => m.Password)
            <br>
            @Html.PasswordFor(model => model.Password)
            <br>
            <br>
            <input id="Submit" type="submit" value="Log In" />
            <br>
        }


        @using (Html.BeginForm("SignUpForm", "Home", FormMethod.Post))
        {
            <input id="Submit" type="submit" value="Sign Up" />
            <br>
        }

        @if (Model != null && !Model.ValidCredentials)
        {
            <p class="has-error">Username or Password is not valid</p>
        }
    </div>
</div>





