@model MusicLibraryTest2.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}

@using (Html.BeginForm("SubmitCredentials", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    <br>
    @Html.TextBoxFor(model => model.UserName)
    <br>
    @Html.LabelFor(m => m.Password)
    <br>
    @Html.PasswordFor(model => model.Password)
    <br>
    <input id="Submit" type="submit" value="Log In" />

    if (Model != null && !Model.ValidCredentials)
    {
        <p style="color:red">Username or Password is not valid</p>
    }
}
@using (Html.BeginForm("SignUpForm", "Home"))
{
    <input id="Submit" type="submit" value="Sign Up" />
}


