@model MusicLibraryTest2.Models.SongModels

@foreach (var song in Model.SongList)
{
    <p>@song.Title</p>
    <p>@song.Genre</p>
    <p>@song.Duration</p>
    <audio controls="controls" preload="auto" src="@Url.Action("PlayAudio","Home", song.songFile,null)"></audio>
}

