@model MusicLibraryTest2.Models.ProfileModel


<span class="get-album-form toggle-button">
    <span class="triangle"></span>
    Create Album
</span>

<div class="toggle-container" id="get-album-form-container"></div>

<span class="get-song-form toggle-button">
    <span class="triangle"></span>
    Create Song
</span>

<div class="songForm toggle-container" id="song-form-container"></div>



<script>
    $(document).ready(function () {

        var songFormLoaded = false;
        var albumFormLoaded = false;

        $('.get-song-form').click(function () {

            var $songFormContainer = $('#song-form-container')

            if (!songFormLoaded) {
                $.ajax({
                    data: { id: @Model.Id },
                    url: '/Home/CreateSongForm',
                    success: function (data) {
                        $songFormContainer.append(data);
                        songFormLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $songFormContainer.toggle();
        });
        $('.get-album-form').click(function () {

            var $albumFormContainer = $('#get-album-form-container')

            if (!albumFormLoaded) {
                $.ajax({
                    url: '/Home/CreateAlbumForm',
                    data: null,
                    success: function (data) {
                        $albumFormContainer.append(data);
                        albumFormLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $albumFormContainer.toggle();
        });
    });
</script>
