@model MusicLibraryTest2.Models.NotificationsModel

@foreach (var notification in Model.Notifications)
 {
    <div class="notification">
        <h3>You Have a New Notification!</h3>
        <p>@notification.ArtistName released a new album called @notification.AlubmTitle</p>
    </div>

 }
