@model MusicLibraryTest2.Models.SongModels

@foreach (var song in Model.SongList)
{
    <p>@song.Title</p>
    <p>@song.Genre</p>
    <audio controls>
        <source src="@Url.Action("PlayAudio", "Home", new { songId = song.Id })" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

}

