:root {
    --color-primary: #93C6D6;
    --color-secondary: #668586;
    --color-tertiary: #A7ACD9;
    --color-tertiary-light: #9E8FB2;
    --color-secondary-light: #82AEB1;
    --br-sm-2: 20px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}


body {
    background-color: var(--color-primary);
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.mainBox {
    background-color:lavender;
    margin: 2% 2%;
    padding: 1rem 1rem;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light)
}



dl {
    margin: 0;
    padding: 0;
    max-width: 200px;
}

dt {
    display: inline-block;
    font-weight: bold;
    width: 100px; /* adjust as needed */
}

dd {
    display: inline-block;
    margin: 0;
}

.triangle {
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    transform: rotate(-90deg);
    transition: transform 0.2s;
}

    .triangle.rotate {
        transform: rotate(90deg);
    }

.toggle-button {
    cursor: pointer;
    color: var(--color-secondary);
}

.sub-toggle {
    color: var(--color-tertiary);
    padding-left: 20px !important;
}

    .toggle-button:hover {
        text-decoration: underline;
        color: #0056b3;
    }

    .toggle-container{
        display: none
    }

.songBox {
    background-color: var(--color-tertiary-light);
    margin: 2rem 2rem;
    border-radius: 1rem;
    max-width: 35%;
    padding: 2rem 2rem;
}

.add-button-glow {
    box-shadow: 0 0 10px var(--color-primary);
}

.add-button-fade {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.unclicked-icon{
    color: var(--color-secondary-light);
}
