:root {
    --color-primary: #7d2935;
    --color-primary-light: #C8102E;
    --color-primary-superlight: #f7e9eb;
    --color-primary-dark: #5a1c25;
    --color-secondary: #000000;
    --color-secondary-light: #333333;
    --color-tertiary: #FFFFFF;
    --color-tertiary-mid: #a5a5a5;
    --color-tertiary-dark: #666666;
    --color-tertiary-light: #a8a7a7;
    --color-tertiary-superlight: #CCCCCC;
    --br-sm-2: 20px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
    background-color: var(--color-primary);
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
}

dl {
    margin: 0;
    padding: 0;
    max-width: 500px;
}

dt {
    display: inline-block;
    font-weight: bold;
    width: 500px;
}

dd {
    display: inline-block;
    margin: 0;
}

.triangle {
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    transform: rotate(-90deg);
    transition: transform 0.2s;
}

    .triangle.rotate {
        transform: rotate(90deg);
    }

.toggle-button {
    cursor: pointer;
    color: var(--color-primary-light);
    padding-left: 20px;
}

.toggle-button:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.sub-toggle {
    color: var(--color-tertiary-dark);
    padding-left: 20px !important;
}

.toggle-container {
    display: none;
}

.edit-container {
    display: none;
}

.login-box {
    background-color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    max-width: 35%;
    padding: 2rem 2rem;
    font-family: Arial !important;
    font-weight: 700 !important;
}

.mainBox {
    background-color: var(--color-tertiary);
    margin: 2% 2%;
    padding: 1rem 1rem;
    font-family: Arial !important;
    font-weight: 700 !important;
    transition: background-color 0.3s;
}

.mainBox:hover {
     background-color: var(--color-tertiary-light);
}

 .mainBox:hover .songBox {
      background-color: var(--color-tertiary);
 }

.songBox {
    background-color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    max-width: 35%;
    padding: 2rem 2rem;
    transition: background-color 0.3s;
}

.songBox:hover {
    background-color: var(--color-tertiary);
 }

.info-box {
    background-color: var(--color-primary-dark);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.notification {
    background-color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.milestone {
    background-color: var(--color-secondary);
    color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.artist-report {
    background-color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.sign-up-box {
    background-color: var(--color-tertiary-superlight);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.user-report {
    background-color: var(--color-primary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.sub-report {
    background-color: var(--color-primary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.admin-report {
    background-color: var(--color-tertiary-superlight);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.report-head {
    font: bold;
    font-size: large;
    color: var(--color-tertiary-light);
}

.report-body {
    font-size: medium;
    color: var(--color-secondary);
}

.album-playlist-head {
    font: bold;
    font-size: large;
    color: var(--color-secondary);
}

.album-playlist-body {
    font-size: medium;
    color: var(--color-tertiary-light);
}

.playlist-box {
    background-color: var(--color-tertiary-light);
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
}

.home-page-image {
    max-width: 500px;
    object-fit: contain;
}

.add-button-glow {
    box-shadow: 0 0 10px var(--color-primary);
    transition: box-shadow 0.3s;
}

.add-button-glow:hover {
     box-shadow: 0 0 15px var(--color-primary-light);
}

.add-button-fade {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.unclicked-icon {
    color: var(--color-primary-light);
    transition: color 0.3s;
}

.unclicked-icon:hover {
    color: var(--color-primary);
}

.has-error {
    background-color: var(--color-secondary-light);
    color: var(--color-primary-light);
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    max-width: 35%;
}