@model MusicLibraryTest2.Models.ArtistReportModels

<h2>Your Top Songs of the Month</h2>

@foreach (var report in Model.ArtistReports)
{
    <div class="artist-report">
        <span class="report-head">Song: </span><span class="report-body"> @report.SongName</span>
        <br>
        <br>
        <span class="report-head">Album: </span><span class="report-body"> @report.AlbumName</span>
        <br>
        <br>
        <span class="report-head">Monthly Views: </span><span class="report-body"> @report.Views</span>
        <br>
        <br>
        <span class="report-head">Total Likes: </span><span class="report-body"> @report.Likes</span>
        <br>
        <br>
    </div>
}

@if (Model.ArtistReports.Count == 0)
{
    <div class="has-error">No Reports to Display</div>
}
