@model MusicLibraryTest2.Models.ProfileModel
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

@Html.Action("ShowNavbar", "Home")

<body>
    <div class="mainBox">

        <span class="get-add-music toggle-button">
            <span class="triangle"></span>
            Add Music
        </span>

        <div class="addMusic toggle-container" id="add-music-container"></div>

        <span class="get-albums toggle-button">
            <span class="triangle"></span>
            Albums
        </span>

        <div class="albums toggle-container" id="albums-container"></div>

        <span class="get-song-report toggle-button">
            <span class="triangle"></span>
            Songs Report
        </span>

        <div class=" toggle-container" id="song-report-container"></div>

        <span class="get-milestones toggle-button">
            <span class="triangle"></span>
            Milestones
        </span>

        <div class="milestones toggle-container" id="get-milestones-container"></div>

        <span class="get-artist-report toggle-button">
            <span class="triangle"></span>
            Artist Report
        </span>

        <div class="aritst-report toggle-container" id="get-artist-report-container"></div>

        <img style="width: 100%; height: 100%;" src="~/Content/music-free-micinterface.jpg" />

    </div>
</body>


<script>
    $(document).ready(function () {

        var addMusicLoaded = false;
        var albumsLoaded = false;

        $('.get-add-music').click(function () {

            var $addMusicContainer = $('#add-music-container')

            if (!addMusicLoaded) {
                $.ajax({
                data: null,
                url: '/ArtistPages/AddMusic',
                    success: function(data) {
                        $addMusicContainer.html(data);
                        addMusicLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $addMusicContainer.toggle();
        });
        $('.get-albums').click(function () {

            var $albumsContainer = $('#albums-container')

            if (!albumsLoaded) {
                $.ajax({
                url: '/ArtistPages/GetUserAlbums',
                data: { userId: '@Model.Id' },
                    success: function(data) {
                        $albumsContainer.html(data);
                        albumsLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $albumsContainer.toggle();
        });
        $('.get-milestones').click(function () {
            var getMilestonesContainerLoaded = false;

            var $getMilestonesContainer = $('#get-milestones-container')

            if (!getMilestonesContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/ArtistPages/GetMilestones',
                    success: function (data) {
                        $getMilestonesContainer.html(data);
                        getMilestonesContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getMilestonesContainer.toggle();
        });
        $('.get-artist-report').click(function () {
            var getArtistReportContainerLoaded = false;

            var $getArtistReportContainer = $('#get-artist-report-container')

            if (!getArtistReportContainerLoaded) {
                $.ajax({
                    data: null,
                    url: '/ArtistPages/GetArtistReport',
                    success: function (data) {
                        $getArtistReportContainer.html(data);
                        getArtistReportContainerLoaded = true;
                    }
                });
            }
            $(this).find('.triangle').toggleClass('rotate');
            $getArtistReportContainer.toggle();
        });
    });
</script>
